/* VARIABLES
========================================================= */
@import "./theme.scss";

/* GENERAL
========================================================= */

body {
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 3rem;
  color: var(--text-color);
}

h2 {
  color: var(--text-color);
}

p {
  font-size: 1.125rem;
  color: var(--text-color);
}

.card a {
  text-decoration: none;
  color: var(--text-color);;
}

.card a:hover {
  border-bottom: 1px solid var(--accent);
  color: var(--accent);
}

/* COMPONENTS
========================================================= */

.main {
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
}

.main__hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4rem;  
}

.hero__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

%main__cta {
  margin-top: 2rem;
  background: $purplu;
  border-radius: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #FFFFFF;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: $button-glow;
  height: 3rem;
}

.main__cta {
  @extend %main__cta;
  margin-right: 1.5rem;
}

.main__cta:hover {
  @extend %main__cta;
  box-shadow: $button-glow-hover;
  margin-right: 1.5rem;
}

.secondary-button {
  @extend %main__cta;
  background: transparent;
  color: $purplu;
  border: 2px solid $purplu;
  box-shadow: none;
}

.secondary-button:hover {
  @extend %main__cta;
  box-shadow: $button-glow-hover;
  border: 2px solid $purplu;
}

.span__image img {
  width: 100px;
  height: auto;
	-webkit-animation: rotate-center 60s linear infinite both;
	        animation: rotate-center 60s linear infinite both;  
}

.main__features {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 5%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  border-radius: 0.5rem;
  box-shadow: $subtle-shadow;
  padding: 2rem;
  background-color: var(--secondary-color);
}

.card__image {
  font-size: 2rem;
  height: auto;
  color: var(--secondary-text-color);
}

ul {
  list-style: none;
}

ul li::before {
  //eslint-disable-next-line
  content: "\2022";
  color: var(--text-color);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
}

li {
  line-height: 1.6;
}

button:focus {
  outline: none;
}

/* ANIMATIONS
========================================================= */

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* MEDIA-QUERIES
========================================================= */

@media (max-width: 1100px) {
  .main__features {
    width: 60%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0%;
    row-gap: 5%;
  }
}